.table-row-cell {
    -fx-border-width: 1%;
    -fx-fill: black;
}

.table-row-cell:recordIsOpen {
    -fx-background-color: #D4D4D4;
}

.table-row-cell:recordIsClosed {
    -fx-background-color: lightblue;
}

.table-cell:selected {
    -fx-background-color: lightcoral;
}